* {
  margin: 0;
  padding: 0;
  list-style-type:none;
  }
  a.prev,a.next {
    height:91px;
    position:absolute;
    width:43px;
    top:50%;
    margin-top:-30px;
    opacity:0.6;
    text-indent:-99999px;
    cursor:pointer;
    transition:opacity 200ms ease-out;
  }
  a.prev:hover,a.next:hover {
    opacity:1;
  }
  .prev {
    left:0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
  }
  .next {
    right:0;
    background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
  }
  .slider {
    height:100%;
    width:100%;
    position: relative;
    z-index: 10;
    overflow: hidden;
  }
  .slide {
    position:absolute;
    height:100%;
    width:100%;
  }
  .slider .slide:target {
    z-index: 100;
  }
  .img_fond_slider {
    width:100%;
    height:100%;
    filter: blur(4px);
    position: absolute;
    background-image: rgba(0, 0, 0, 0.45);
  }
  .img_slider{
    width:60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .btn_accueil a {
    display:block;
    width:150px;
    line-height:50px;
    text-align:center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-90%);
    background-color: white;
    border: solid 1px #FF8F00;
    color:#FF8F00;
    text-decoration:none;
  }
  .btn_accueil a:hover {
    background-color: #FF8F00;
    color: white;
  }
