body{
    /*background-color: rgba(233, 233, 233, 0.20);*/
    background: url("../assets/images/fond_vendre.jpg") no-repeat center center fixed;
    background-size: cover;
}

.vendre{
    position: relative;
    width: 100%;
    padding-top: 75px;
}
.opacity{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.30);
}
.titreV{
    text-shadow: #686868 1px 1px, #686868 -1px 1px, #686868 -1px -1px, #686868 1px -1px;
    color: #F2F2F2;
    font-size: 48px;
    font-weight: 600;
    font-family: simplifica;
    width:100%;
    text-align: center;
    margin-top: 50px;
}
#orange{
    text-shadow: #FF8F00;
    color:#FF8F00;
}
.form{
    width:600px;
    height: 600px;
    margin:auto;
    border: solid 2px rgba(179, 179, 179, 0.20);
    position: relative;
    background-color: rgb(233, 233, 233);
    box-shadow: 0 0 15px rgba(0, 0, 0, 1);
}
.champs{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-60%);
}
.input{
    width: 300px;
    height: 32px;
    text-indent: 4px;
    display:block;
    background-color: white;
    border: solid 1px rgba(160, 160, 160, 0.45);
    margin-bottom: 10px;
    
}
.input[type=number]{
    -moz-appearance: textfield;
    -webkit-appearance: none;
    -o-appearance: none;
}
.input::placeholder{
    color: #686868;
}
.selectV{
    background:url("../assets/images/Fbas.png") no-repeat;
    background-position : 270px 5px;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: white;
    text-indent: 1px;
    text-overflow: '';
}
.selectV::-ms-expand{
    display: none;
}

.button{
    width: 300px;
    height: 50px;
    background-color: white;
    border: solid 1px #FF8F00;
    border-radius: 2px;
    font-family: simplifica;
    font-size: 22px;
    font-weight: 600;
    transition: background-color .5s;
    cursor: pointer;
}
.button:hover{
    background-color: #FF8F00;
    color:white;
}
.confAjout{
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-30%,-20%);
    color:#53dbbf;
}
.errAjout{
    position: absolute;
    left: 30%;
    top: 20%;
    transform: translate(-30%,-20%);
    color:#ED3939;
    
}
.imgV{
    width:20px;
    height:20px;
    vertical-align: middle;
    
}